input[type="password"]::-ms-reveal {
    display: none;
}


.left-side {
    background: url('/assets/images/login.jpg') top/cover no-repeat;
    height: 100vh;
}

.rigth-side {
    height: 100vh;
}

h1 {
    font-size: 3em;
    color: #333333;
}