<div class="row">
  <div class="d-none d-xxl-block col-9">
    <div class="left-side"></div>
  </div>
  <div class="col-12 col-xxl-3">
    <div class="container">
      <div class="row align-items-center justify-content-center rigth-side">
        <div class="col-10">
          <h1 class="fw-medium text-center">CΛLLPLΛNNΞR</h1>
          <p class="fs-6 mb-5 text-center">Recuperar senha</p>
          <p class="fs-6 mb-5 text-center">
            Para recuperar sua senha, <strong>insira o endereço de e-mail</strong> usado ao registrar a conta.
            <strong>Você receberá um link para redefinir sua senha.</strong>
          </p>

          <form>
            <mat-form-field class="w-100" [appearance]="'outline'">
              <mat-label>E-mail</mat-label>
              <input
                [formControl]="this.emailControl"
                type="text"
                matInput
                inputmode="none"
                oncontextmenu="return false"
                oncopy="return false"
                onpaste="return false"
                oncut="return false"
              />
              <mat-error>
                <app-form-feedback [control]="this.emailControl"></app-form-feedback>
              </mat-error>
            </mat-form-field>
          </form>

          <button (click)="onSubimit()" class="btn btn-info w-100 mt-3" [disabled]="!this.emailControl.valid">
            Enviar Link
          </button>

          <button class="btn btn-info w-100 mt-3" routerLink="/login">Voltar</button>

          <p class="text-center mt-3 help-text">
            Se precisar de mais ajuda
            <a href="#" class="text-decoration-none">entre em contato com nossa equipe de suporte</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
