.left-side {
  background: url('/assets/images/login.jpg') top/cover no-repeat;
  height: 100vh;
}

.rigth-side {
  height: 100vh;
}

h1 {
  font-size: 3em;
  color: #0dcaf0;
}

.help-text {
  font-size: 0.8em;
}
